@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@500&display=swap')

/* #testButton {
  color: red;
} */

h1 {
  color: red;
  font-family: 'Poiret One', cursive;
  font-family: 'Poppins', sans-serif;
  position:relative;
  left: 43%;
}

h5 {
  justify-content: center;
  font-family: 'Poiret One', cursive;
  font-family: 'Poppins', sans-serif;
  position:relative;
  left: 500px;
}

#playerDisplay {
  justify-content: center;
  font-family: 'Poiret One', cursive;
  font-family: 'Poppins', sans-serif;
  position:relative;
  left: 45%;

}

/* other box style */
/* .box{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 100px;
  align-items: center;  
  border: 1px solid black;

}  */


#canvas {
  height: 90vh;
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: white;
  border-color: black;
  
}

.box {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
  border: 1px solid black
  ;

}

#restartButton {
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 20px 20px;
  position:relative;
  left: 100%;
  background-color: white;
  border-radius:10px;

  font-family: 'Poiret One', cursive;
  font-family: 'Poppins', sans-serif;
  font-size:xx-large;
  font-weight: 900;
}

/********************OTHER STYLES*/

/* remove border for edges */
/* .cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
	border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
	border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
	border-bottom: none;
}


body {
	margin: 0;
} */


/* other styles */
/* #canvas {
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto)
} */