@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@500&display=swap')


h2 {
  text-align:center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}

#displayBox {
  font-family: 'Poiret One', cursive;
  font-family: 'Poppins', sans-serif;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;


}

#canvas {
  /* height: 90vh; */
  height: 1000px;
  width: 900px;
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: black;
  border-color: white;
  align-content: center;
}

.markImg {
  padding-top: 20%;
}

.box {
  color: white;
  font-size: 3rem;
  text-align: center;
  /* padding: 4rem; */
  padding: 10px;
  border: 1px solid white;


}

#restartButton {
  color: black;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 20px 20px;
  position:relative;
  left: 100%;
  background-color: white;
  border-radius:10px;

  font-family: 'Poiret One', cursive;
  font-family: 'Poppins', sans-serif;
  font-size:xx-large;
  font-weight: 900;
}

/* #testButton {
  color: red;
} */
